/*
use only if using a static background, not video
body {
  background-image: url("../img/background_2021.jpeg");
  background-color: rgba(98, 89, 137, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  background-position: bottom;
}
*/

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

a.freya:link, a.freya:visited {
  text-decoration: none;
  color: #002060;
}

a.freya:hover {
  text-shadow: 0 0 8px rgb(90, 119, 57);
}

.cardWrapper {
  height: 500px;
  width: 700px;
  margin: 120px auto 0 auto;
  position: relative;
  perspective: 2000px;
}

.cardBack {
  height: 500px;
  width: 700px;
  background-image: url("../img/inner_2021.jpg");
  background-color: rgb(219, 216, 201);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #666666;
  position: absolute;
}

.cardFront {
  display: block;
  height: 500px;
  width: 700px;
  background-color: #EEEEEE;
  border: 2px solid rgba(97, 97, 97, 0.4);
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateX(20deg);
  transform-origin: top;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.tree {
  display: block;
  height: 500px;
  width: 700px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

h1 {
  font-family: 'Bad Script';
  font-size: 60px;
  color: #fce9de;
  position: absolute;
  top: 0px;
  left: 60px;
  text-shadow: -2px 2px rgb(4, 4, 97);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

h2 {
  font-family: 'Bad Script';
  font-size: 40px;
  color: #fce9de;
  position: absolute;
  top: 350px;
  left: 120px;
  text-shadow: -2px 2px rgb(4, 4, 97);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

p {
  font-family: 'Bad Script';
  font-size: 24px;
  padding: 0px 10px 0px 10px;
  margin: 15px 20px 10px 20px;
  color: #002060;
}

.greeting {
  line-height: 1.25;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.cardBack p:first-child {
  margin-top: 50px;
}

.cardBack p:nth-child(4) {
  text-align: right;
  margin-top: 40px;
}

.info {
  font-size: 16px;
  font-family: 'Garamond';
}

.cardWrapper:hover .cardFront {
  transform: rotateX(90deg);
  transform-origin: top;

}

@media only screen and (max-width: 480px) {
  .cardBack p:first-child {
    margin-top: 60px;
  }
}
